html, body {
    overflow: hidden; /* 기본 스크롤 제거 */
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    border-bottom: 1px solid rgba(176, 176, 176, 0.3); /* 밑줄 */
}

.route {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

